header {
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #f1f1f1;
  overflow: hidden;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}