@media screen and (max-width: 600px) {
    .left-column {
        float: none;
        width: 100%;
    }

    .center-column {
        float: none;
        width: 100%;
    }

    .right-column {
        float: none;
        width: 100%;
    }

    .left-column {
        background-color: blue;
    }

    .center-column {
        background-color: yellow;
    }

    .right-column {
        background-color: green;
    }
}